:root{
    --main-color: blue;
    --main-size: 18px;
}


/* Golbal rules */
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
    font-family: var(--ff-sans);
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    object-fit: cover;
}
body {
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
}
input:focus,textarea:focus{
    outline: none;
}
/* make images easier to work with */
img{
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.6;
    font-weight: 500;
}
section,footer,header{
    max-width: 2234px;
    margin: 0 auto;
    background-color: white;
  
    border-right:2px solid var(--clr-border);
    border-left:2px solid var(--clr-border)
  }
  input:focus{
    outline: none;
}
/*!reset deffrences in browsers
 normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

/* Utility classes     */
/* ------------------- */
/* way : .namepreportye-value: */
.container{
    width: 90vw;
    
    margin: 0 auto;
    max-width: 1200px;
}

.bd-none{
  border: none;
}
.inp-line{
    position: relative;
}
.inp-line::before{
    content: "";
    position: absolute;
    background-color: rgb(25, 25, 150);
    width: 10px;
    height: 10px;
    left: 0;
    top: 0;
}
body{
    color: rgb(25, 25, 150);
    width: 100vw;
    margin-inline:auto;
    display: grid;
    font-size: 18px;
}
/* framework */
.mb-20{
    margin: 20px 0;
}
.mb-10{
    margin: 10px 0;
}
.mb-5{
    margin: 5px 0;
}
.mr-10{
    margin-right: 10px;
}
.txt-center{
    text-align: center;
}
.txt-end{
    text-align: end;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.iden input {
    width: 10%;
    border: 1px solid blue;
    border-top: none;
    height: 60%;
}
.iden-2 input {
    width: 7%;
    border: 1px solid blue;
    border-top: none;
}
.iden>*{
    flex-basis: 33%;
}
.bc-blue{
    background-color: blue;
}
.clr-white{
    color: #ffffff;
}
input::placeholder {
    color: blue;
}
input[type='checkbox']{
    border-color: blue;
}
header img{
    width: 100%;
}
.inp-1{
    width: 100%;
    border: none;
}
.fw-600{
    font-weight: 600 !important;
}
.grid-three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
textarea{
    width: 100%;
    max-width: 1000px;
    height: 150px;
    border: none;
}
textarea::placeholder{
    color: blue;
}
.fs-18{
    font-size: 18px;
}
.remplair{
    background-color: rgb(25, 25, 150);
    color: white;
    padding: 10px;
    border-radius: 10px;
    
}
/* code */
.section,.section-2{
    border: 2px solid blue;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
}

.page-2 .container h1{
    background-color: rgb(25, 25, 150);
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}
.page-2 .container .Demande {
    display: flex;
    justify-content:space-around;
    margin:  30px 0;
}
.page-2 .container .Demande div label{
    font-size: var(--main-size);
    
}
.page-2 .container .Demande div input{
    max-height: 16px;
    height: 100%;
    margin-right: 4px;
}
.page-2 .container .Favorbale ,
.page-2 .container .temp{
    font-size: var(--main-size);
}

.page-2 .container .Favorbale .PriseDecharge,
.page-2 .container .temp {
    padding-left: 2rem;
}
.page-2 .container .Favorbale .PriseDecharge div{
    padding-left: 10px;
}
.page-2 .container .Favorbale .PriseDecharge h4{
    font-weight: normal;
}
.page-2 .container .Favorbale .check,
.page-2 .container .Defavorbale .check{
    max-height: 16px;
    height: 100%;
    margin-right: 4px;
}
.page-2 .container .Favorbale .PriseDecharge .name{
    padding-left: 2rem;
}
.page-2 .container .Favorbale .PriseDecharge .name input{
    border: none;
    color: blue;
}
.page-2 .container .temp input {
    border: none;
    color: blue;
    max-width: 44px;
    margin: 2px;
}
.page-2 .container .Defavorbale
{
    margin-top: 5px;
}
.page-2 .container .Defavorbale div{
    padding-left: 2rem;
}
.page-2 .container .Defavorbale label{
    font-size: 18px;
    font-weight: bold;
}
.page-2 .container .Defavorbale textarea,
.page-2 .container .observation textarea{
    border: none;
    
}
.page-2 .container .Defavorbale h4,
.page-2 .container .observation h4 {
    font-weight: normal !important;
}
.page-2 .container .Favorbale input >  label{
    font-weight: bold;
}
.page-2 .container .date{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.page-2 .container .date input{
    border: none;
    color: blue;
}
.page-2,.page-3,.page-4{
     margin-top: 150px;
}
.page-3 h1{
    background-color: rgb(25, 25, 150);
    color: #ffffff;
    text-align: center;
}
.page-3 .code label{
    margin: 0 10px 0 50px;
    
}
.page-3 .code input{
    border: 1px solid blue;
    height: 30px;

}
.page-4 h3{
    text-align: center;
    margin: 100px 0;
    border: 2px solid blue;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
}
.control label{
    padding-left: 22px;
    cursor: pointer;
    position: relative;
}
.control label::after{
    /* font-family: var(--fa-style-family-classic); */
    content: "✓";
    font-weight: 900;
    background-color: var(--main-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 4px;
}
.control label::before{
    content: "";
    width: 18px;
    height: 18px;
    border: 2px solid grey;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;

}
.control label:hover::before{
    border-color: var(--main-color);

}
.control input[type="checkbox"]:checked + label::after{
    transform: scale(1);
}
.Defavorbale .control{
    padding-left: 0 !important;
}
